---
import PbImage from "./PbImage.astro";
import { formatDate } from "../js/utils.mjs";

const event = Astro.props.event;
---

<div
    class=`cards ${event.favori ? 'bg-yellow-200' : 'bg-white'} border border-gray-200 rounded-lg p-6 shadow-md hover:shadow-lg hover:-translate-y-1 transition-all cursor-pointer`
    data-favori={event.favori} data-id={event.id}
>
    <PbImage record={event} imageField="imgUrl" />
    <div class="flex items-center gap-2 mb-2">
        <strong class="text-lg">{event.title}</strong>
    </div>
    <p class="text-gray-600 text-sm mb-4">{formatDate(event.date)}</p>

    <a href={`/agenda/${event.id}`} class="ml-4 text-blue-500 hover:underline text-sm">
        Voir les détails
    </a>
</div>

<script>
    //@ts-nocheck
    import { setFavori } from "../js/backend.mjs";
    const cards = document.querySelectorAll('.cards');
    cards.forEach(card => {
        card.addEventListener('click', async () => {
            const isFavori = card.dataset.favori === 'true';
            card.dataset.favori = !isFavori;
            if (!isFavori) {
                card.classList.add('bg-yellow-200');
                card.classList.remove('bg-white');
            } else {
                card.classList.add('bg-white');
                card.classList.remove('bg-yellow-200');
            }
            const eventId = card.dataset.id;
            await setFavori(eventId, !isFavori);
        });
    });
</script>